<a href="https://colab.research.google.com/github/Denko/Denko.github.io/blob/master/Copy_of_basic_data_types_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

from random import randint
initial = randint(5,10)
print(initial)

8



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

Favorite_number = 7
print(Favorite_number)

# Create another variable that represents your favorite color, and do the same steps as above.

Favorite_color = 'blue'
print(Favorite_color)

7
blue



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

#Famous lines from 'Take it easy' by Jackson Browne (or is it The Eagles?)
Take_it_easy = "Well, I\'m a standin\' on a corner in Winslow, Arizona\nSuch a fine sight to see\nIt's a girl, my Lord, in a flat-bed Ford\nSlowin\' down to take a look at me\n"
print(Take_it_easy)

Well, I'm a standin' on a corner in Winslow, Arizona
Such a fine sight to see
It's a girl, my Lord, in a flat-bed Ford
Slowin' down to take a look at me

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. As this person plays, you need to update their score to reflect gains and losses in points. Each math operation below dictates the change in the competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50

latest_score = latest_score + 50
print(latest_score)

# Subtract 90

latest_score = latest_score - 90
print(latest_score)

# Multiply 10

latest_score = latest_score * 10
print(latest_score)

# Divide 150

latest_score = latest_score / 150
print(latest_score)

# Modulus 3

latest_score = latest_score % 3
print(latest_score)

100
150
60
600
4.0
1.0



### P2.PY

In [0]:
a = "If the waves aren\'t too high, "
b = "I\'ll wander down to the ocean and try not to drown."
print(a + b)

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

If the waves aren't too high, I'll wander down to the ocean and try not to drown.



### P3.PY

In [0]:
all_added_together = a + b + int(c) + int(d) + int(e) + f
print(all_added_together)

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2



# B)
c = '0'
d = '2'



# C)
e = '0'
f = 2

6



### P4.PY

In [0]:
add_truetrue = a + b
print(add_truetrue)
add_falsefalse = c + d
print(add_falsefalse)
add_truefalse = e + f
print(add_truefalse)

# Add the below sets of variables together.

# A)
a = True
b = True



# B)
c = False
d = False



# C)
e = True
f = False

2
0
1

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

five_float = float(five)
print(five_float)
five_int = int(five_float)
print(five_int)

neg_22_float = float(neg_22)
print(neg_22_float)
neg_22_int = int(neg_22_float)
print(neg_22_int)

5.0
5
-22.0
-22



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

str_neg_8 = str(neg_8)
print(str_neg_8)
int_neg_8 = int(neg_8)
print(int_neg_8)

str_five = str(five)
print(str_five)
int_five = int(five)
print(int_five)

bool_true = str(T)
print(bool_true)
bool_false = str(F)
print(bool_false)

-8
-8
5
5
True
False



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

bool_one = bool(one)
print(bool_one)
print(type(bool_one))
bool_zero = bool(zero)
print(bool_zero)
print(type(bool_zero))

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

bool_one_float = float(bool_one)
print(bool_one_float)
print(type(bool_one_float))

bool_zero_float = float(bool_zero)
print(bool_zero_float)
print(type(bool_zero_float))

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

True
<class 'bool'>
False
<class 'bool'>
1.0
<class 'float'>
0.0
<class 'float'>



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.



# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.

## SHOPPING_LIST

### P1.PY

In [0]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = 'milk'
item_name_2 = 'eggs'
item_name_3 = 'heroin'
item_name_4 = 'nuclear bomb'
item_name_5 = 'bloody head of the CIA director'

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = 4.99
item_price_2 = 2.48
item_price_3 = 180.23
item_price_4 = 3000000
item_price_5 = .05

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = int(3)
item_quant_2 = int(6)
item_quant_3 = int(5676)
item_quant_4 = int(100)
item_quant_5 = int(1)

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

print((str(item_quant_1)) + ' ' + item_name_1 + '(s) = ' + str(item_price_1 * item_quant_1))
print((str(item_quant_2)) + ' ' + item_name_2 + '(s) = ' + str(item_price_2 * item_quant_2))
print((str(item_quant_3)) + ' ' + item_name_3 + '(s) = ' + str(item_price_3 * item_quant_3))
print((str(item_quant_4)) + ' ' + item_name_4 + '(s) = ' + str(item_price_4 * item_quant_4))
print((str(item_quant_5)) + ' ' + item_name_5 + '(s) = ' + str(item_price_5 * item_quant_5))

3 milk(s) = 14.97
6 eggs(s) = 14.879999999999999
5676 heroin(s) = 1022985.48
100 nuclear bomb(s) = 300000000
1 bloody head of the CIA director(s) = 0.05

print(item_quant_1) + ' ' + print(item_name_1' = $'+item_price_1

### P2.PY

In [0]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:
# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = input('Name your first item: ') 
item_name_2 = input('Name your second item: ') 
item_name_3 = input('Name your third item: ') 
item_name_4 = input('Name your fourth item: ') 
item_name_5 = input('Name your fifth item: ') 

# use input() function and ask user to name prices
item_price_1 = input('Name the price of the first item: ')
item_price_2 = input('Name the price of your second item: ')
item_price_3 = input('Name the price of your third item: ')
item_price_4 = input('Name the price of your fourth item: ')
item_price_5 = input('Name the price of your fifth item: ')

# use input() function and ask user to name quants
item_quant_1 = input('Name the quantity of the first item: ')
item_quant_2 = input('Name the quantity of the second item: ')
item_quant_3 = input('Name the quantity of the third item: ')
item_quant_4 = input('Name the quantity of the fourth item: ')
item_quant_5 = input('Name the quantity of the fifth item: ')

print((str(item_quant_1)) + ' ' + item_name_1 + '(s) = ' + str(item_price_1 * item_quant_1))
print((str(item_quant_2)) + ' ' + item_name_2 + '(s) = ' + str(item_price_2 * item_quant_2))
print((str(item_quant_3)) + ' ' + item_name_3 + '(s) = ' + str(item_price_3 * item_quant_3))
print((str(item_quant_4)) + ' ' + item_name_4 + '(s) = ' + str(item_price_4 * item_quant_4))
print((str(item_quant_5)) + ' ' + item_name_5 + '(s) = ' + str(item_price_5 * item_quant_5))

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!